@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);

  --paragraph-font: "Alata", sans-serif;
  --header-font: "Josefin Sans", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
html,
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-size: 15px;
}

header {
  background-image: url(./images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
}

li {
  list-style: none;
  color: var(--white);
  font-family: var(--paragraph-font);
  width: 8rem;
}

a {
  text-decoration: none;
  color: var(--white);
}
h1,
h2 {
  font-family: var(--header-font);
}

p {
  font-family: var(--paragraph-font);
  color: var(--Dark-Gray);
  min-width: 30ch;
  line-height: 2;
}

.header-fonts {
  font-family: var(--header-font);
  text-transform: uppercase;
  font-size: 2rem;
}
/* .nav-options {
  display: flex;
  margin-left: 10rem;
}

.nav-wrapper {
  display: flex;
  padding: 0 10rem;
} */

nav {
  display: none;
}

h1 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 4px;
  max-width: 800px;
  text-align: left;
  padding: 1rem 20rem 1rem 1rem;
  border: 1px solid white;
}

.nav-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
}

.ham {
  width: 75px;
  padding: 1rem 1rem;
}

.logo {
  width: 192px;
  padding: 1rem 1rem;
}

.title-page {
  display: flex;
  padding: 0 1rem;
  margin-top: 15rem;
}

.middle-container {
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}
.middle-container img {
  max-width: 100%;
  min-width: 500px;
  height: auto;
  padding: 0 5em;
}

.description-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 5rem;
  min-width: 20ch;
}
.description-text p {
  margin: 2.5em 0;
  padding: 0 3rem;
}

.creation-wrapper {
  margin-top: 3rem;
  padding: 0 3em;
}
.creation-images {
  position: relative;
  margin-top: 1.5em;
  min-width: 250px;
}

.creation-images img {
  filter: brightness(0.7);
  max-width: 100%;
}
.creation-wrapper a {
  max-width: 9ch;
  position: absolute;
  left: 20px;
  bottom: 0;
  top: 30%;
  min-width: 25%;
}

.see-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.see-more {
  padding: 1rem 4rem;
  font-size: 1.5rem;
  font-family: var(--paragraph-font);
  border: 2px black solid;
  color: var(--Black);
  text-transform: uppercase;
  letter-spacing: 5px;
}

footer {
  background-color: var(--Black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.3rem;
  padding-top: 3rem;
}
s .social-media {
  display: flex;
  gap: 1rem;
}

.footer-text li {
  padding: 1em;
  margin-top: 3px;
}
